In [ ]:
#1. Do the height and weight columns have the appropriate data types?
#2. Can you separate the joined column into year, month and day column?
#3. Can you clean and transform the value, wage and release clause columns into columns of integers?
#4. How can you remove the newline characters from the Hits column?
#5. Should you separate the Team & Contract column into separate team and contract column?

#1. Do the height and weight columns have the appropriate data types?
#2. Can you separate the joined column into year, month and day column?
#3. Can you clean and transform the value, wage and release clause columns into columns of integers?
#4. Remove the unnecessary newline characters from all columns that have them?
#5.Based on the 'Joined' column, check which players have been playing at a club for more than 10 years!
#6.Some columns have 'star' characters. Strip those columns of these stars and make the columns numerical
#7. Which players are highly valuable but still underpaid (on low wages)? (hint: scatter plot between wage and value)

In [ ]:
import gdown
import pandas as pd

# Define the Google Drive file id and the url to download the file
file_id = '1qoEa0F0vEFVApajm_yUhU7EuP-5rpMFS'
url = f'https://drive.google.com/uc?id={file_id}'

# Download the file
gdown.download(url, 'myfile.csv', quiet=False)

# Read the file with pandas
df = pd.read_csv('myfile.csv')

# Print the first 5 rows of the dataframe
print(df.head())

Downloading...
From: https://drive.google.com/uc?id=1qoEa0F0vEFVApajm_yUhU7EuP-5rpMFS
To: /content/myfile.csv
100%|██████████| 8.43M/8.43M [00:00<00:00, 25.0MB/s]

       ID               Name                      LongName  \
0  158023           L. Messi                  Lionel Messi
1   20801  Cristiano Ronaldo  C. Ronaldo dos Santos Aveiro
2  200389           J. Oblak                     Jan Oblak
3  192985       K. De Bruyne               Kevin De Bruyne
4  190871          Neymar Jr    Neymar da Silva Santos Jr.

                                           photoUrl  \
0  https://cdn.sofifa.com/players/158/023/21_60.png
1  https://cdn.sofifa.com/players/020/801/21_60.png
2  https://cdn.sofifa.com/players/200/389/21_60.png
3  https://cdn.sofifa.com/players/192/985/21_60.png
4  https://cdn.sofifa.com/players/190/871/21_60.png

                                           playerUrl Nationality  Age  ↓OVA  \
0  http://sofifa.com/player/158023/lionel-messi/2...   Argentina   33    93
1  http://sofifa.com/player/20801/c-ronaldo-dos-s...    Portugal   35    92
2  http://sofifa.com/player/200389/jan-oblak/210006/    Slovenia   27    91
3  http://sofifa.com/player/192985/kevin-de-bruyn...     Belgium   29    91
4  http://sofifa.com/player/190871/neymar-da-silv...      Brazil   28    91

   POT                         Club  ...     A/W     D/W   IR PAC SHO  PAS  \
0   93         \n\n\n\nFC Barcelona  ...  Medium     Low  5 ★  85  92   91
1   92             \n\n\n\nJuventus  ...    High     Low  5 ★  89  93   81
2   93      \n\n\n\nAtlético Madrid  ...  Medium  Medium  3 ★  87  92   78
3   91      \n\n\n\nManchester City  ...    High    High  4 ★  76  86   93
4   91  \n\n\n\nParis Saint-Germain  ...    High  Medium  5 ★  91  85   86

  DRI DEF PHY Hits
0  95  38  65  771
1  89  35  77  562
2  90  52  90  150
3  88  64  78  207
4  94  36  59  595

[5 rows x 77 columns]

<ipython-input-4-1bb958639981>:12: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('myfile.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   LongName          18979 non-null  object
 3   photoUrl          18979 non-null  object
 4   playerUrl         18979 non-null  object
 5   Nationality       18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Club              18979 non-null  object
 10  Contract          18979 non-null  object
 11  Positions         18979 non-null  object
 12  Height            18979 non-null  object
 13  Weight            18979 non-null  object
 14  Preferred Foot    18979 non-null  object
 15  BOV               18979 non-null  int64
 16  Best Position     18979 non-null  object
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              16384 non-null  object
dtypes: int64(54), object(23)
memory usage: 11.1+ MB

#1. Do the height and weight columns have the appropriate data types?

In [ ]:
import pandas as pd

# Assuming DataFrame is named 'df' and the columns are 'Height' and 'Weight'
df['Height'] = df['Height'].str.extract('(\d+)').astype(float)
df['Weight'] = df['Weight'].str.extract('(\d+)').astype(float)


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   LongName          18979 non-null  object
 3   photoUrl          18979 non-null  object
 4   playerUrl         18979 non-null  object
 5   Nationality       18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Club              18979 non-null  object
 10  Contract          18979 non-null  object
 11  Positions         18979 non-null  object
 12  Height            18979 non-null  float64
 13  Weight            18979 non-null  float64
 14  Preferred Foot    18979 non-null  object
 15  BOV               18979 non-null  int64
 16  Best Position     18979 non-null  object
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              16384 non-null  object
dtypes: float64(2), int64(54), object(21)
memory usage: 11.1+ MB

#2. Can you separate the joined column into year, month and day column?

In [ ]:
print(df['Joined'])

0         Jul 1, 2004
1        Jul 10, 2018
2        Jul 16, 2014
3        Aug 30, 2015
4         Aug 3, 2017
             ...
18974    Jul 13, 2018
18975     Aug 1, 2020
18976     Mar 8, 2019
18977    Sep 22, 2020
18978    Jul 29, 2019
Name: Joined, Length: 18979, dtype: object

In [ ]:
# Assuming DataFrame is named 'df' and the column is 'Joined'
df['Joined'] = pd.to_datetime(df['Joined'])
df['Year'] = df['Joined'].dt.year
df['Month'] = df['Joined'].dt.strftime('%b')
df['Day'] = df['Joined'].dt.day

df

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,...,PAC,SHO,PAS,DRI,DEF,PHY,Hits,Year,Month,Day
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,\n\n\n\nFC Barcelona,...,85,92,91,95,38,65,771,2004,Jul,1
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,\n\n\n\nJuventus,...,89,93,81,89,35,77,562,2018,Jul,10
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,...,87,92,78,90,52,90,150,2014,Jul,16
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,\n\n\n\nManchester City,...,76,86,93,88,64,78,207,2015,Aug,30
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,...,91,85,86,94,36,59,595,2017,Aug,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18974,247223,Xia Ao,Ao Xia,https://cdn.sofifa.com/players/247/223/21_60.png,http://sofifa.com/player/247223/ao-xia/210006/,China PR,21,47,55,\n\n\n\nWuhan Zall,...,64,28,26,38,48,51,NaN,2018,Jul,13
18975,258760,B. Hough,Ben Hough,https://cdn.sofifa.com/players/258/760/21_60.png,http://sofifa.com/player/258760/ben-hough/210006/,England,17,47,67,\n\n\n\nOldham Athletic,...,64,40,48,49,35,45,NaN,2020,Aug,1
18976,252757,R. McKinley,Ronan McKinley,https://cdn.sofifa.com/players/252/757/21_60.png,http://sofifa.com/player/252757/ronan-mckinley...,England,18,47,65,\n\n\n\nDerry City,...,63,39,44,46,40,53,NaN,2019,Mar,8
18977,243790,Wang Zhen'ao,Zhen'ao Wang,https://cdn.sofifa.com/players/243/790/21_60.png,http://sofifa.com/player/243790/zhenao-wang/21...,China PR,20,47,57,\n\n\n\nDalian YiFang FC,...,58,49,41,49,30,44,NaN,2020,Sep,22
18978,252520,Zhou Xiao,Xiao Zhou,https://cdn.sofifa.com/players/252/520/21_60.png,http://sofifa.com/player/252520/xiao-zhou/210006/,China PR,21,47,57,\n\n\n\nDalian YiFang FC,...,62,22,39,42,45,55,NaN,2019,Jul,29

#3. Can you clean and transform the value, wage and release clause columns into columns of float?

In [ ]:
df['Value'], df['Wage'], df['Release Clause']

(0        €103.5M
 1           €63M
 2          €120M
 3          €129M
 4          €132M
           ...
 18974      €100K
 18975      €130K
 18976      €120K
 18977      €100K
 18978      €100K
 Name: Value, Length: 18979, dtype: object,
 0        €560K
 1        €220K
 2        €125K
 3        €370K
 4        €270K
          ...
 18974      €1K
 18975     €500
 18976     €500
 18977      €2K
 18978      €1K
 Name: Wage, Length: 18979, dtype: object,
 0        €138.4M
 1         €75.9M
 2        €159.4M
 3          €161M
 4        €166.5M
           ...
 18974       €70K
 18975      €165K
 18976      €131K
 18977       €88K
 18978       €79K
 Name: Release Clause, Length: 18979, dtype: object)

In [ ]:
# Convert columns to string data type
df['Value'] = df['Value'].astype(str)
df['Wage'] = df['Wage'].astype(str)
df['Release Clause'] = df['Release Clause'].astype(str)
# Remove unwanted characters and convert to float
df['Value'] = df['Value'].str.replace('[€]', '', regex=True).astype(float)
df['Wage'] = df['Wage'].str.replace('[€]', '', regex=True).astype(float)
df['Release Clause'] = df['Release Clause'].str.replace('[€]', '', regex=True).astype(float)

def clean_and_transform_value(value):
    if value.endswith('M'):
        return int(float(value[:-1]) * 1000000)
    elif value.endswith('K'):
        return int(float(value[:-1]) * 1000)
    else:
        return int(value)

# Example usage:
value_cell = '€103.5M'
cleaned_value = clean_and_transform_value(value_cell)
print(cleaned_value)  # Output: 103500000

wage_cell = '€560K'
cleaned_wage = clean_and_transform_value(wage_cell)
print(cleaned_wage)  # Output: 560000

ValueError: ignored

In [ ]:
# Convert columns to string data type
df['Value'] = df['Value'].astype(str)
df['Wage'] = df['Wage'].astype(str)
df['Release Clause'] = df['Release Clause'].astype(str)
# Remove unwanted characters and convert to float
df['Value'] = df['Value'].str.replace('[€, MK]', '', regex=True).astype(float)
df['Wage'] = df['Wage'].str.replace('[€, K]', '', regex=True).astype(float)
df['Release Clause'] = df['Release Clause'].str.replace('[€,M,K]', '', regex=True).astype(float)

# Select the desired columns
selected_columns = df[['Value', 'Wage', 'Release Clause']]
selected_columns

#4.Remove the unnecessary newline characters from all columns that have them.

In [ ]:
# Remove newline characters from all columns
df = df.replace(r'\n', '', regex=True)

#5. Based on the 'Joined' column, check which players have been playing at a club for more than 10 years?

In [ ]:
# Calculate the number of years a player has been at the club
df['Years_at_Club'] = pd.to_datetime('today') - df['Joined']
df['Years_at_Club'] = round((df['Years_at_Club'].dt.days / 365.25),2)

# Filter players who have been at the club for more than 10 years
players_over_10_years = df[df['Years_at_Club'] > 10][['Name', 'Years_at_Club']]

# Display the players and their joining year
print(players_over_10_years)

# 6. Some columns have 'star' characters. Strip those columns of these stars and make the columns numerical

In [ ]:
Star_column = df[['W/F','SM','IR']]
Star_column

In [ ]:
# Remove star characters and convert to numerical data type
df['W/F'] = df['W/F'].str.replace('[★]', '', regex=True).astype(float)
df['SM'] = df['SM'].str.replace('[★]', '', regex=True).astype(float)
df['IR'] = df['IR'].str.replace('[★]', '', regex=True).astype(float)

Star_column = df[['W/F','SM','IR']]
Star_column

# 6. Which players are highly valuable but still underpaid (on low wages)? (hint: scatter plot between wage and value)

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

# Create a scatter plot
plt.scatter(df['Wage'], df['Value'])
plt.xlabel('Wage')
plt.ylabel('Value')
plt.title('Wage vs. Value')

# Add a trend line
z = np.polyfit(df['Wage'], df['Value'], 1)
p = np.poly1d(z)
plt.plot(df['Wage'], p(df['Wage']), color='red')

# Identify highly valuable but underpaid players
threshold_value = 1000000  # Define the threshold value for "highly valuable"
threshold_wage = 100000  # Define the threshold value for "low wage"
underpaid_players = df[(df['Value'] > threshold_value) & (df['Wage'] < threshold_wage)]

# Add markers for underpaid players
plt.scatter(underpaid_players['Wage'], underpaid_players['Value'], color='green', marker='x')

# Display the plot
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
# Create a scatter plot
plt.scatter(df['Wage'], df['Value'])
plt.xlabel('Wage')
plt.ylabel('Value')
plt.title('Wage vs. Value')

In [ ]:
import seaborn as sns
sns.scatterplot(data = df, x='Value', y='Wage', hue='Value')

In [ ]:
# Assuming your DataFrame is named 'df' and you want to export it to a CSV file named 'output.csv'
df.to_csv('output.csv', index=False)

In [ ]:
from google.colab import files

# Tải tệp tin 'output.csv'
files.download('output.csv')